# http://editorconfig.org
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.ts]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf

[*.md]
max_line_length = 0

[*.{html,yml}]
indent_style = space
indent_size = 2

[*.{css,js,json,py}]
indent_style = space
indent_size = 4
