# http://editorconfig.org
root = true

[*.ts]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
max_line_length = 0
trim_trailing_whitespace = false

[*.{html,yml}]
indent_style = space
indent_size = 2

[*.{css,js,json,py}]
indent_style = space
indent_size = 4
insert_final_newline = true