%YAML 1.2
---

dnsaas:
    build: .
    ports:
        - "8080:8080"
    links:
        - db:db
pdns:
    build: docker/pdns
    ports:
        - "5353:53"
        - "5353:53/udp"
    links:
        - db:db

db:
    image: "drakedroid/mysql-with-data"
    environment:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_USER: dnsaas
        MYSQL_DATABASE: dnsaas
        MYSQL_PASSWORD: dnsaas
    ports:
        - "33066:3306"
