<div id="wrap">
  <div  id="main">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
          <a class="navbar-brand" href="{{ homeUrl }}">DNSaaS</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <div [style.display]="isLoggedIn ? 'block' : 'none'">
          <ul class="nav navbar-nav">
            <li [class.active]="router.isRouteActive(router.generate(['/Records']))">
              <a [routerLink]="['Records']">Records</a>
            </li>
            <li [class.active]="router.isRouteActive(router.generate(['/Domains']))">
              <a [routerLink]="['Domains']">Domains</a>
            </li>
            <li [class.active]="router.isRouteActive(router.generate(['/RecordRequests']))">
              <a [routerLink]="['RecordRequests']">My Requests</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <button [routerLink]="['AddRecord']" type="button" class="btn btn-success navbar-btn">Add record</button>
            </li>
            <li>
              <a [routerLink]="['Logout']">Logout ({{ username }})</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="container main">
    <router-outlet></router-outlet>
  </div>
  </div>
</div>
