<div class="page-header">
  <h1>Domains
    <small>You can find who owns a given domain. You cannot edit anything here.</small>
  </h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <input #searchInput
            type="text"
            class="form-control"
            placeholder="Search by name, owner"
            value="{{ searchValue }}"
            #searchInput
            (keyup)="onKeyUpSearch($event, searchInput.value)"
          />
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div *ngIf="errorMessage" class="alert alert-success alert-danger">
      {{ errorMessage }}
    </div>
    <table class="table table-striped">
      <thead>
         <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Owner</th>
            <th>Service</th>
         </tr>
      </thead>
       <tbody>
        <tr *ngFor="let domain of domains" [highlight]>
            <td>
              {{ domain.name }}
            </td>
            <td>
              {{ domain.type }}
            </td>
            <td>
              {{ domain.owner }}
            </td>
            <td>
              {{ domain.service_name }}
            </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <pagination
      routeName="Domains"
      [totalCount]="totalCount"
      [perPage]="perPage"
      [additionalRouteParams]="additionalRouteParams"
      [currentOffset]="currentOffset">
    </pagination>
  </div>
</div>
