<div class="page-header">
  <h1 *ngIf="isCreate">Add record</h1>
  <h1 *ngIf="!isCreate">Edit record</h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
    <div *ngIf="errorMessage" class="alert alert-success alert-danger">
        {{ errorMessage }}
    </div>
    <form *ngIf="record" [ngFormModel]="recordForm" (ngSubmit)="onSubmit()" class="form-horizontal">
      <fieldset>
      <div class="form-group" *ngIf="!isCreate">
        <label for="domain" class="col-sm-2 control-label">Owner
        </label>
        <div class="col-sm-6">
          <p class="form-control-static">
            {{ record.owner }}
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="domain" class="col-sm-2 control-label">Domain</label>
        <div class="col-sm-6">
          <autocomplete
            [forNgModel]="record"
            [service]="domainService"
            ngModelField="domain"
            [readOnly]="!isCreate"
            [afterSelectAction]="onDomainSelectForAutocomplete"
            [afterRemoveAction]="onDomainRemoveForAutocomplete"
            placeholder="Search domain">
          </autocomplete>
        </div>
      </div>
      <div class="form-group">
        <label for="service" class="col-sm-2 control-label">Service</label>
        <div class="col-sm-6">
          <autocomplete
            [forNgModel]="record"
            [service]="serviceService"
            [readOnly]="!canEditService"
            ngModelField="service"
            placeholder="Search service">
          </autocomplete>
        </div>
      </div>
       <div class="form-group">
        <label for="type" class="col-sm-2 control-label">Type</label>
         <div class="col-sm-2">
          <div *ngIf="!isCreate">
            <p class="form-control-static">
              {{ record.type }}
            </p>
          </div>
          <select
              [style.display]="isCreate ? 'block' : 'none'"
              id="type"
              class="form-control"
              required
              [(ngModel)]="record.type"
              (ngModelChange)="onChangeType()"
              ngControl="type"
              [disabled]="!domain"
              #type="ngForm">
              <option *ngFor="let type of recordTypes" [value]="type[0]" >{{ type[0] }}</option>
          </select>
          <div [hidden]="type.valid || type.pristine" class="alert alert-danger">
            <p *ngIf="type.errors && type.errors.required">Type is required.</p>
            <p *ngIf="type.errors && type.errors.apiError">{{ type.errors.apiError }}</p>
          </div>
         </div>
         <div class="col-sm-6">
           <p class="form-control-static">
            <span class="type-help-text" *ngFor="let rtype of recordTypes" [style.display]="type.value == rtype[0] ? 'block': 'none'">
              {{ rtype[1] }}
            </span>
           </p>
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-6">
          <div class="input-group">
            <input
                type="text"
                id="name"
                #name="ngForm"
                ngControl="name"
                class="form-control"
                [(ngModel)]="recordName"
                (keyup)="onKeyUpName(inputName.value)"
                [disabled]="!domain"
                #inputName />
            <div class="input-group-addon">
              <span *ngIf="domain">
                {{ domainDot }}{{ domain.name }}
              </span>
            </div>
          </div>
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            <p *ngIf="name.errors && name.errors.apiError">{{ name.errors.apiError }}</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="content" class="col-sm-2 control-label">Content</label>
        <div class="col-sm-6">
          <input
              type="text"
              id="content"
              class="form-control"
              required
              [(ngModel)]="record.content"
              ngControl="content"
              #content="ngForm"
              [disabled]="!domain"
              #inputContent />
          <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
            <p *ngIf="content.errors && content.errors.required">Content is required.</p>
            <p *ngIf="content.errors && content.errors.apiError">{{ content.errors.apiError }}</p>
          </div>
         </div>
      </div>
      <div class="form-group">
        <label for="type" class="col-sm-2 control-label">Remarks</label>
        <div class="col-sm-6">
          <textarea
            id="remarks"
            class="form-control"
            [disabled]="!domain"
            [(ngModel)]="record.remarks">
          </textarea>
        </div>
      </div>
      </fieldset>
      <fieldset>
        <legend>Advanced options</legend>
        <div class="form-group" [style.display]="type.value == 'MX' ? 'block' : 'none'">
          <label for="prio" class="col-sm-2 control-label">Priority
            <span class="glyphicon glyphicon-info-sign" tooltip data-toggle="tooltip" data-placement="top" title="For MX records, this should be the priority of the mail exchanger specified" aria-hidden="true"></span>
          </label>
          <div class="col-sm-2">
            <input
              type="text"
              id="prio"
              class="form-control"
              [(ngModel)]="record.prio"
              ngControl="prio"
              [disabled]="!domain"
              #prio="ngForm" />
            <div [hidden]="prio.valid || prio.pristine" class="alert alert-danger">
              <p *ngIf="prio.errors && prio.errors.apiError">{{ prio.errors.apiError }}</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="ttl" class="col-sm-2 control-label">TTL
            <span class="glyphicon glyphicon-info-sign" tooltip data-toggle="tooltip" data-placement="top" title="If you query for that record, you will get cached information for TTL time (in seconds). After that you will get fresh data." aria-hidden="true"></span>
          </label>
          <div class="col-sm-2">
            <input
              type="text"
              id="ttl"
              class="form-control"
              required
              [(ngModel)]="record.ttl"
              ngControl="ttl"
              [disabled]="!domain"
              #ttl="ngForm" />
            <div [hidden]="ttl.valid || ttl.pristine" class="alert alert-danger">
              <p *ngIf="ttl.errors && ttl.errors.required">TTL is required.</p>
              <p *ngIf="ttl.errors && ttl.errors.apiError">{{ ttl.errors.apiError }}</p>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="row">
        <div class="col-md-2">
          <div class="pull-right">
            <button type="button" class="btn btn-default" (click)="onBack()">Back</button>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-3">
          <div class="pull-right">
            <button type="submit" class="btn btn-success" [disabled]="!recordForm.valid || !domain || !record.service">
              <span *ngIf="isCreate">
                <span *ngIf="saved" class="glyphicon glyphicon-refresh glyphicon-spin" aria-hidden="true"></span>
                <span *ngIf="!saved" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add record
              </span>
              <span *ngIf="!isCreate">
                <span *ngIf="saved" class="glyphicon glyphicon-refresh glyphicon-spin" aria-hidden="true"></span>
                <span *ngIf="!saved" class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                Save
              </span>
            </button>
           </div>
        </div>
      </div>
    </form>
  </div>
  <div class="panel-footer"></div>
</div>
