<div class="page-header">
  <h1>Records</h1>
</div>
<flash-message></flash-message>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <input #searchInput
            type="text"
            class="form-control"
            placeholder="Search by name, content, owner, domain name"
            value="{{ searchValue }}"
            #search
            (keyup)="onKeyUpSearch($event, search.value)"
          />
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="legend" [style.display]="showAllRecords ? 'block' : 'none'">
          <span class="legend"></span> - Your records
        </div>
      </div>
      <div class="col-md-4">
        <div class="btn-group btn-group-sm pull-right" role="group">
          <button (click)="onSelectShowAllRecords()" type="button" class="btn {{ showAllRecords ? 'btn-default': 'btn-primary' }}">my records</button>
          <button (click)="onSelectShowAllRecords('all')" type="button" class="btn {{ !showAllRecords ? 'btn-default': 'btn-primary' }}">all records</button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body" [style.display]="(showResults) ? 'block' : 'none'">
    <div *ngIf="errorMessage" class="alert alert-success alert-danger">
      {{ errorMessage }}
    </div>
    <div [style.display]="(!showAllRecords && !isRecords) ? 'block' : 'none'" class="alert alert-info">
      You do not own any records, switch to "all records" to display a full list
    </div>
    <table class="table table-striped {{ !(isRecords) ? 'hidden': '' }}" >
      <thead>
         <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Content</th>
            <th>TTL</th>
            <th>Owner</th>
            <th>Service</th>
            <th>Mod. date</th>
            <th>Action</th>
         </tr>
      </thead>
       <tbody>
        <tr *ngFor="let record of records" class="
          {{ showAllRecords && activeUser == record.owner ? 'success': '' }}
          {{ record.type == 'PTR' ? 'read-only': '' }}
          {{ record.change_request || record.delete_request  ? 'danger' : '' }}
        " [highlight]>
            <td>
              <div class="wrap" title="{{ record.name }}">
                {{ record.name }}
              </div>
            </td>
            <td class="type">
              {{ record.type }}
            </td>
            <td>
              <div class="wrap" title="{{ record.content }}">
                {{ record.content }}
              </div>
            </td>
            <td class="ttl">
              {{ record.ttl }}
            </td>
            <td>
              {{ record.owner }}
            </td>
            <td>
              {{ record.service_name || '-' }}
            </td>
            <td>
              {{ record.modified }}
            </td>
            <td class="action">
              <span *ngIf="record.change_request || record.delete_request">
                <a
                  target="_blank"
                  class="btn btn-default btn-xs"
                  href="{{ jiraUrl }}/browse/{{ record.delete_request ? record.delete_request : record.change_request }}"
                >
                  {{ record.delete_request ? record.delete_request : record.change_request }}
                  <span class="glyphicon glyphicon-info-sign" tooltip data-toggle="tooltip" data-placement="top" title="Record is locked for modifications. Will be unlocked once processing of another request has finished." aria-hidden="true"></span>
                </a>
              </span>
              <div *ngIf="record.type !== 'PTR' && !record.change_request && !record.delete_request">
                <div *ngIf="activeUser == record.owner || isAdmin || record.unrestricted_domain">
                  <a class="btn btn-primary btn-xs" (click)="onSelect(record)">Edit</a>
                  <a class="btn btn-danger btn-xs" (click)="deleteConfirm(record)">Delete</a>
                </div>
                <div *ngIf="!(activeUser == record.owner || isAdmin || record.unrestricted_domain)">
                  <a class="btn btn-primary btn-xs" (click)="onSelect(record)">Request Edit</a>
                  <a class="btn btn-danger btn-xs" (click)="deleteConfirm(record)">Request Delete</a>
                </div>
              </div>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <pagination
      routeName="Records"
      [totalCount]="totalCount"
      [perPage]="perPage"
      [additionalRouteParams]="additionalRouteParams"
      [currentOffset]="currentOffset">
    </pagination>
  </div>
</div>
