<div class="page-header">
  <h1>My Requests</h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="btn-group btn-group-sm pull-right" role="group">
      <button (click)="onSelectShowRequest('pending')" type="button" class="btn {{ state === 'pending' ? 'btn-primary': 'btn-default' }}">pending</button>
      <button (click)="onSelectShowRequest('accepted')" type="button" class="btn {{ state === 'accepted' ? 'btn-primary': 'btn-default' }}">accepted</button>
      <button (click)="onSelectShowRequest('rejected')" type="button" class="btn {{ state === 'rejected' ? 'btn-primary': 'btn-default' }}">rejected</button>
    </div>
  </div>
  <div class="panel-body">
    <div *ngIf="errorMessage" class="alert alert-success alert-danger">
      {{ errorMessage }}
    </div>
    <table class="table table-striped">
      <thead>
         <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Content</th>
            <th>TTL</th>
            <th>Owner</th>
            <th>Created</th>
            <th>Ticket</th>
            <th>Options</th>
         </tr>
      </thead>
       <tbody>
        <tr *ngFor="let request of recordRequests" [highlight]>
          <td>
            <div class="wrap" title="{{ request.target_name }}">
              {{ request.target_name }}
            </div>
          </td>
          <td>
            {{ request.target_type }}
          </td>
          <td>
            <div class="wrap" title="{{ request.target_content }}">
              {{ request.target_content }}
            </div>
          </td>
          <td>
            {{ request.target_ttl }}
          </td>
          <td>
            {{ request.target_owner }}
          </td>
          <td>
            {{ request.created }}
          </td>
          <td>
            <a href="{{ jiraUrl }}/browse/{{ request.key }}" target="_blank" *ngIf="request.key"> {{ request.key }} </a>
          </td>
          <td>
            <a class="btn btn-primary btn-xs" (click)="onSelect(request)">Detail</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
  </div>
</div>
