<div class="page-header">
  <h1>Record Request
    <small>
      <a [routerLink]="['RecordRequests']" class="btn">Back to list</a>
    </small>
  </h1>
</div>
<div *ngIf="showAutoAcceptanceMessage" class="alert alert-warning">
  Your change requires acceptance by owner of record or domain.
</div>
<div class="panel panel-default">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
    <table class="table table-striped table-hover" *ngIf="recordRequest && domain">
      <tbody>
        <tr>
          <td>Name</td>
          <td [innerHTML]="getValue('name')"></td>
        </tr>
        <tr>
          <td>Type</td>
          <td [innerHTML]="getValue('type')"></td>
        </tr>
        <tr>
          <td>Content</td>
          <td [innerHTML]="getValue('content')"></td>
        </tr>
        <tr>
          <td>Priority</td>
          <td [innerHTML]="getValue('prio')"></td>
        </tr>
        <tr>
          <td>TTL</td>
            <td [innerHTML]="getValue('ttl')"></td>
        </tr>
        <tr>
          <td>Remarks</td>
          <td [innerHTML]="getValue('remarks')"></td>
        </tr>
        <tr>
          <td>Domain</td>
          <td>{{ domain.name }}</td>
        </tr>
        <tr *ngIf="record">
          <td>Record</td>
          <td>
            <span (click)="onSelectRecord(record)">{{ record.name }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer"></div>
</div>
