{% load staticfiles %}
<html>
<head>
  <title>DNSaaS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "lib/bootstrap/dist/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "app/app.css" %}">
  <script type="text/javascript" src="{% static "lib/jquery/dist/jquery.min.js" %}"></script>
  <script src="{% static "lib/raven-js/dist/raven.min.js" %}"></script>
  <script src="{% static "lib/es6-shim/es6-shim.min.js" %}"></script>
  <script src="{% static "lib/zone.js/dist/zone.min.js" %}?main=browser"></script>
  <script src="{% static "lib/reflect-metadata/Reflect.js" %}"></script>
  <script src="{% static "lib/systemjs/dist/system.js" %}"></script>
  <script src="{% static "systemjs.config.js" %}"></script>
  <script>
    var globalConfig = {
      debug: {% if settings.DEBUG %}true{% else %}false{% endif %},
      ravenEnabled: false,
      requiredServiceField: {% if settings.REQUIRED_SERVICE_FIELD %}true{% else %}false{% endif %},
      serviceUrl: "{% url 'api:v2:service-list' %}",
      domainUrl: "{% url 'api:v2:domain-list' %}",
      recordUrl: "{% url 'api:v2:record-list' %}",
      recordRequestUrl: "{% url 'api:v2:recordrequest-list' %}",
      jiraUrl: "{{ settings.JIRA_URL }}",
      homeUrl: "{% url 'home' %}"
    };
    {% if settings.SENTRY_JS_DSN %}
       Raven.config("{{ settings.SENTRY_JS_DSN }}", {{ settings.SENTRY_JS_CONFIG|safe }}).install();
       globalConfig["ravenEnabled"] = true;
    {% endif %}
    System.import('{% static "dist/main" %}').then(null, console.error.bind(console));
  </script>
</head>
<base href="/">
<body>
  <dnsaas-app>Loading...</dnsaas-app>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 powered">
          Powered by pyLabs & XWING
        </div>
        <div class="col-md-3">
          <img src="{% static 'pylabs.png' %}" />
        </div>
        <div class="col-md-2">
          <a href="{{ settings.DOCS_URL }}" target="_blank">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
            Docs
          </a>
        </div>
        <div class="col-md-2">
          <a href="{{ settings.NEW_FEATURE_URL }}" target="_blank">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            Request new feature
          </a>
        </div>
        <div class="col-md-2">
          <a href="{{ settings.REPORT_BUG_URL }}" target="_blank">
            <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
            Report a bug
          </a>
        </div>
      </div>
    </div>
  </footer>
  <script src="{% static "lib/bootstrap/dist/js/bootstrap.min.js" %}"></script>
</body>
</html>
